Django==2.1.4
django-filter==2.0.0
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
drf-instamojo==0.0.1
drf-paytm==0.0.2
drf-user==0.0.3
drfaddons==0.1.1
drf-yasg==1.11.1
django-cors-headers==2.4.0
mysqlclient==1.3.14
django-jet==1.0.8
